<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link ui-sref="css/antd.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="partials/secondApp.js"></script>
</head>
<body>
<div ng-controller="secondCtrl">
    <h3 style="margin-top: 50px;">
        partials-->second.html
    </h3>
    <div class="ant-row">
        <div class="ant-col-3">
            <button class="ant-btn ant-btn-primary">{{tmpName1}}</button>
        </div>
    </div>
</div>
</body>
</html>